<h1 style="color: antiquewhite;">CV-Constructor</h1>
<app-matrix-code></app-matrix-code>
<nav>
  <app-language-selector></app-language-selector>
  <a class="button"
     routerLink="/cv-static"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    CV-Static
  </a> |
  <a class="button"
     routerLink="/cv-queried"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
   CV-queried
  </a>
  <a class="button"
     routerLink="/cv-blank"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
   CV-blank
  </a>
  <p>Some text to rebuild</p>
</nav>

<router-outlet></router-outlet>
<app-scroll-to-top></app-scroll-to-top>
